In [45]:
import pandas as pd

In [26]:
df = pd.read_csv('yellow_tripdata_2021-01.csv')
df = df.drop(df.columns[0], axis=1)
print("Number of rows ", len(df.index))

Number of rows  1369769

In [27]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [46]:
from sqlalchemy import create_engine

In [47]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [48]:
engine.connect()

In [40]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag FLOAT(53),
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [49]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [50]:
df = next(df_iter)

In [51]:
# Load in column headers first
df = df.drop(df.columns[0], axis=1)
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

In [52]:
looping = True
# Loading in first 100k rows before looping through next
df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

while looping:
    try:
        df = next(df_iter)
    except StopIteration:
        looping = False
    else:
        # Removing blank first column left behind form parquet to csv conversion
        df = df.drop(df.columns[0], axis=1)
        
        df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
        df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
        
        df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')